<%= form_with(model: post, class: "text-[10pt]") do |f| %>
  <% if post.errors.any? %>
    <div class="bg-red-100 border border-red-300 text-red-800 p-2 mb-3 text-[10pt]">
      <% post.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <table cellpadding="2">
    <tr>
      <td class="text-right">title</td>
      <td><%= f.text_field :title, size: 50, class: "border border-gray-400 p-0.5 text-[10pt]" %></td>
    </tr>
    <tr>
      <td class="text-right">url</td>
      <td><%= f.text_field :url, size: 50, class: "border border-gray-400 p-0.5 text-[10pt]" %></td>
    </tr>
    <tr>
      <td class="text-right">type</td>
      <td>
        <%= f.select :post_type, [["Link", "link"], ["Ask HN", "ask"], ["Show HN", "show"]], {}, class: "border border-gray-400 p-0.5 text-[10pt]" %>
      </td>
    </tr>
    <tr>
      <td class="text-right align-top">text</td>
      <td><%= f.text_area :body, rows: 6, cols: 50, class: "border border-gray-400 p-0.5 text-[10pt]" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit class: "bg-gray-200 border border-gray-400 px-3 py-0.5 cursor-pointer text-[10pt] mt-1" %></td>
    </tr>
  </table>
<% end %>
